/* -------------------
    table of content

    1. imports
    2. base styles
    3. base styles
    4. header
    5. toolbar
    6. sections
    7. cards
    ------------------ */

/* 1. imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* 2. base styles */
:root {
  --bg: hsl(0, 0%, 100%);
  --bg-top-pattern: hsl(225, 100%, 98%);
  --bg-card: hsl(227, 47%, 96%);
  --text-secondary: hsl(230, 17%, 14%);
  --text-primary: hsl(228, 12%, 44%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font: 400 1.4rem/1.5 'Inter', sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: var(--bg);
  color: var(--text-primary);
  transition: background-color 400ms ease, color 600ms ease;
}

body.dark-theme {
  --bg: hsl(230, 17%, 14%);
  --bg-top-pattern: hsl(232, 19%, 15%);
  --bg-card: hsl(228, 28%, 20%);
  --text-primary: hsl(228, 34%, 66%);
  --text-secondary: hsl(0, 0%, 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-secondary);
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.text-primary {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}

/* 3. header */
.header {
  height: 250px;
  background-color: var(--bg-top-pattern);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* 4. toolbar */
.toolbar {
  display: flex;
  align-items: start;
  flex-flow: column;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.toolbar-before,
.toolbar-after {
  width: 100%;
}

.toolbar-before {
  border-bottom: solid 1px rgb(161, 161, 161);
}
.toolbar-before .toolbar-item:first-child {
  flex-flow: column;
  align-items: flex-start;
}

.followers-text {
  font-weight: 700;
  color: var(--text-primary);
}

.toolbar-after {
}

.toolbar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 0;
}

.toolbar-item a {
  color: inherit;
}

@media (min-width: 768px) {
  .toolbar {
    flex-direction: row;
    align-items: center;
  }
  .toolbar-before {
    border-bottom: none;
  }
  .toolbar-item {
    justify-content: flex-end;
  }
}

/* 5. sections */
.section {
  position: relative;
}

/* 6. cards */
.cards-main-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 230px;
}

.card {
  position: relative;
  background-color: var(--bg-card);
}
